@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('../../Images/RockBand1.jpeg');
       background-size:100%">
    <h1>@ViewBag.Headline</h1>
    <p class="lead">Welcome to learn all about our Band. 
    Check out the events and go Backstage!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@*<a href="/backstage/special">go backstage</a>*@

<div class="row">
    <div class="col-md-4">
        <h2>Blog</h2>
        <p>
            Get the Latest News!
        </p>
        <p><a class="btn btn-info" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Schedule of where the band will be playing</p>
        <p><a class="btn btn-warning" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Go Backstage!</h2>
        <p>Join us before the show and see what's going on. Make sure you get your ticket! </p>
        <p><a class="btn btn-danger" href="/backstage/special">Get Ticket! </a></p>
    </div>
</div>